@import '/src/assets/scss/variables.scss';

//Bootstrap
.navbar {
  background-color: $color-primary !important;
}

.dropstart::marker {
  font-size: 0px;
}

.button-img-user-prs {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  column-gap: 10px;
  em {
    font-size: 30px;
  }
}

.button-color-secundary-prs {
  color: $color-secundary;
  em {
    color: $color-secundary;
  }
}

.button-color-red-prs {
  color: $color-secundary;
  em {
    color: rgb(247, 88, 88);
  }
}

.button-card-prs {
  background-color: transparent;
  border: none;
}

.button-accept-prs{
  margin-right: 10px;
  em {
    color: green;
    font-size: 35px;
  }
}

.button-remove-prs {
  em {
    color: red;
    font-size: 35px;
  }
}

.card-title {
  margin: 0px;
}

.id-user-prs {
  font-size: medium;
}
