@import '/src/assets/scss/variables.scss';

.bg-name-community {
  background-color: $color-secundary;
  color: $color-primary;
  height: 200px;
  width: 100%;
}

.bg-info-community {
  background-color: $color-primary;
  color: $color-secundary;
  width: 100%;
  button {
    border: none;
    background-color: transparent;
    color: $color-secundary;
    border-left: 2px solid $color-secundary;
    border-right: 2px solid $color-secundary;
    margin: 12px 0px;
    padding: 5px 10px;
    width: 100%;
    font-weight: bold;
  }
}

.bg-button-prs {
  background-color: $color-secundary;
  button {
    color: $color-primary;
    border-left: 2px solid $color-primary;
    border-right: 2px solid $color-primary;
  }
}
