@import '/src/assets/scss/variables.scss';

.div-info {
  width: 100%;
  margin: auto;
}

.btn-float-prs {
  //Position
  position: fixed;
  bottom: 20px;
  right: 20px;
  //Display
  display: flex;
  justify-content: center;
  align-items: center;
  //Design
  background-color: $color-primary;
  color: $color-secundary;
  border: none;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 10px rgb(69, 69, 69);
  em {
    font-size: larger;
  }
}

.form-prs {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  button {
    max-width: 200px;
    margin: auto;
    padding: 10px 20px;
    font-weight: bold;
    background-color: $color-primary;
    border: 0px;
    border-radius: 10px;
    color: white;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease-out 100ms, color 0.3s ease-out 100ms;
    &:hover {
      color: white;
    }
  }
}


.button-card-prs {
  background-color: transparent;
  border: none;
}

.button-accept-prs{
  margin-right: 10px;
  em {
    color: green;
    font-size: 35px;
  }
}

.button-remove-prs {
  em {
    color: red;
    font-size: 35px;
  }
}

.card-title {
  margin: 0px;
}

// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .div-info {
    width: 100%;
    max-width: 1000px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .div-info {
    width: 100%;
    max-width: 1000px;
  }
}
