<div>
  <div class="div-info">
    <div class="div-admin" *ngIf="this.isAdmin">
      <h3>Received requests</h3>
      <div class="row m-0" *ngIf="receivedRequests.length > 0; else emptySection">
        <div class="col-12 col-md-6 col-lg- m-0 mb-3" *ngFor="let receivedRequest of receivedRequests">
          <app-received-request [receivedRequest]="receivedRequest" [idCommunity]="idCommunity"></app-received-request>
        </div>
      </div>
      <h3 mt-2>Sended invitations</h3>
      <div class="row m-0" *ngIf="sendedInvitations.length > 0; else emptySection">
        <div class="col-12 col-md-6 col-lg- m-0 mb-3" *ngFor="let sendedInvitation of sendedInvitations">
          <app-sended-invitation [sendedInvitation]="sendedInvitation" [idCommunity]="idCommunity"></app-sended-invitation>
        </div>
      </div>
    </div>
    <div class="div-user mt-3">
      <h3>Community users:</h3>
      <div *ngIf="users.length > 0">
        <app-user-list-card *ngFor="let user of users" [user]="user"></app-user-list-card>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
  <button *ngIf="this.isAdmin" type="button" class="btn-float-prs" data-bs-toggle="modal" data-bs-target="#insertInvitationModal">
    <em class="bi bi-person-plus-fill"></em>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="insertInvitationModal" tabindex="-1" aria-labelledby="insertInvitationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="insertInvitationModalLabel">Add a new user</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="form-prs" [formGroup]="formInviteUser" (ngSubmit)="insertInvitation()">
            <input type="number" class="form-control" formControlName="userId" placeholder="ID User"/>
            <div *ngIf="formControlsInsertInvitation['userId'].touched && formControlsInsertInvitation['userId'].invalid" class="alert-form">
              <div *ngIf="formControlsInsertInvitation['userId'].errors && formControlsInsertInvitation['userId'].errors['required']">Empty</div>
              <div *ngIf="formControlsInsertInvitation['userId'].errors && formControlsInsertInvitation['userId'].errors['pattern']">Only number</div>
            </div>
            <button type="submit" data-bs-dismiss="modal">Invite</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #emptySection>
  <p>Empty...</p>
</ng-template>
