.width-card-prs {
  max-width: 100%;
}

.like {
  font-size: 1.2em;
  .icon {
    margin: 0px 4px;
  }
}

.user-name-prs {
  font-weight: bold;
}

// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .width-card-prs {
    width: 1000px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .width-card-prs {
    width: 1000px;
  }
}
