.button-card-prs {
  background-color: transparent;
  border: none;
}

.icon {
  em {
    font-size: 35px;
  }
}

.button-accept-prs{
  margin-right: 10px;
  em {
    color: green;
  }
}

.button-remove-prs {
  em {
    color: red;
  }
}

.card-title {
  margin: 0px;
}
